@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
 --primary-color: #000000; /* Default primary color */
 --secondary-color: #ffffff; /* Default secondary color */
 --tertiary-color: #ffffff; /* Default tertiary color */
}

@media (prefers-color-scheme: dark) {
 :root {
    --primary-color: 0, 0, 0;
    --secondary-color: 255, 255, 255;
    --tertiary-color: 255, 255, 255;
 }
}

body {
 color: rgb(var(--secondary-color));
 background-color: rgb(var(--primary-color));
}

@layer utilities {
 .text-balance {
    color: rgb(var(--tertiary-color));
 }
}

/* Hover effect */
.button-hover:hover {
  background-color: rgba(241, 85, 36, 0.1); /* Example semi-transparent background color on hover */
  cursor: pointer;
 }
 
 /* Clicked effect */
 .clicked-button {
  background-color: rgba(241, 85, 36, 0.3); /* Example semi-transparent background color for clicked state */
 }
 